<div class="spotify_home-container row">
    <div class="spotify_home-container-side-bar col-2">
        <div class="spotify_home-container-side-bar-items" id="logo">
            <img width="150"  src="/assets/spotify-logo-white.png" alt="Spotify Logo">
        </div>
        <div class="spotify_home-container-side-bar-items">
            <a href="">Home</a>
        </div>
        <div class="spotify_home-container-side-bar-items">
            <a href="">Search</a>
        </div>
        <div class="spotify_home-container-side-bar-items">
            <a href="">Your Library</a>
        </div>
        <div class="spotify_home-container-side-bar-items">
            <a href="">Create Playlist</a>
        </div>
    </div>
    <div class="spotify_home-container-playlist-container col-10"></div>
</div>